.customNav {
    background-color:#A6907C;
}
.customNav li.nav-item.active {
    color: white;
    font-size: 20px;
    text-decoration-style: solid;
}

.resumelogo {
    height: 40px;
    width: auto;
} 


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.projectGalleryContainer {
    margin: 30px 0;
}

.sectionTitle {
    color:#A6907C;
    font-weight: bold;
    border-bottom: 6px solid #A6907C;
    border-top: 6px solid #A6907C;
    margin-bottom: 25px;
    padding-top: 5px;
    text-align: center;
    margin: 50px auto;
    font-family: Montserrat;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

<!-- card --!>
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.projectCard {
    margin-bottom: 20px;
}

.projectCard > img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
.card-img, .card-img-bottom, .card-img-top {
    flex-shrink: 0;

}
img {
    vertical-align: middle;
    border-style: none;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.projectCard .card-title {
    font-weight: bold;
    text-transform: capitalize;
    color: #A6907C;
    text-decoration: underline;
}
.card-title {
    margin-bottom: .75rem;


.h5, h5 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}


h5 {
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: Montserrat;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
a.viewProjectBtn {
    background-color:#A6907C;
    color:#978070;
    font-weight: bold;
    border: 1px solid transparent;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
a {
    text-decoration: none;
    
}