.customNav {
    background-color: palevioletred;
}
.customNav li.nav-item.active {
    color: white;
    font-size: 20px;
    text-decoration-style: solid;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.topRow {
    align-items: center;
    margin-bottom: 60px;
    background-color:#A6907C;
    color: #fff;
    width: 2000 px;
    height: 400px;
    padding-left: 100px;
}

.footer {
    width: 2000px;
    height: 20px;
    font-family: 'Haboro Contrast';
}
div.nameTitle {
    padding-left: 50px;
}

.name {
    display: false;
    position: absolute;
    margin: false;
    top: false;
    left: calc(350px + 5%);
    right: 0;
    bottom: 0;
    height: 120px;
    text-align: center;
    font-family: 'Haboro Contrast';
    font-size: 80px;
    letter-spacing: 8px;
    font-weight: 100;
    line-height: 5px;
}
.caps {
    text-transform: uppercase;
}


.logo {
    margin-top: -150px;
    margin-right: 180px;
}

/* bootstrap vertical alignment */
.gridExercise {
    background-color:#F2E8DF;
    margin: 30px 0;
    margin-top: 30;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

.parentTarget {
    height: 1250px;
    background-color:#F2E8DF;
    margin: 10px 0;
    
}

.parentTarget div {
    height: 10px;
    background-color: #F2E8DF;
    border: lightslategrey;
        /* border-width: 5px;
        border-color: black
        border-style: solid; */
}

